<!doctype html>
<title>floober api example</title>
{% block body %}
<h2>Here's the fancy floober api docs</h1>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
	<p>
		<strong>Request:</strong> Total trips driven
		<br />
		<strong>URI:</strong> /api/trips
	</p>
{% endblock %}